$white: #fff;
$black: #000;

/*font-color form global*/
$base-text: #474747;
$secondary-text: #24bb32;
$main-text: #737373;
$warning-text: #ff4800;
$tips-text: #a7a7a7;
$link-text: #0075d8;

/*text-color for form*/
$label: #737373;
$label-tip: #c0c0c0;
$label-error: #ff4800;
$error-border: #f7a1a1;
$placeholder: #a7a7a7;
$input-border: #d7d7d7;
