.col input[type="text"],.col textarea,form .dropdown-menu{
	width: 675px;/*宽度自定*/
}

textarea{
	resize: none;
	font-size: 14px;
}
/*菜单下拉输入框*/
form .dropdown-input{
	display: inline;
	position: relative;
}
form .dropdown-input>.dropdown-button{
	position: absolute;
	cursor: pointer;
}
form .dropdown-button.caret{
	display: inline-block;
	right: 38px;
	top: 4px;
	background-color: #fff;
}
form .dropdown-button.btn{
	padding: 0;
	height: 36px;
	width: 90px;
	right: 24px;
	border-radius: 0;
	background-color: #34a4ed;
	color: #fff;
}
label{
	padding-left: 10px;
	padding-right: 10px;
	font-weight: normal;
	color: #737373;
	width: 160px;/*label长度，可能需要修改*/
	text-align: right;
}
input[type="radio"]+label,input[type="checkbox"]+label{
	width: auto;
	padding-left: 10px;
	margin-right: 20px;
	font-weight: normal;
	margin-bottom: 0;
	text-align: left;
}
label.tips-info,label.error{
	position: absolute;
	padding-left: 0;
	margin-bottom: 10px;
	left: 5px;
	bottom: -16px;
	width: 100%;
	background-color: #fff;
	text-align: left;
}
label.tips-info{
	color: #c0c0c0;
	z-index: 1;
}
label.error{
	color: #ff4800;
	z-index: 2;
}
input.error,
input.error:focus,
textarea.error,
textarea.error:focus
{
	border: 1px solid #f7a1a1;
}
/*表单－多列*/
.multi-col-form{
	width: 100%;
}
.multi-col-form .form-group{
	margin-bottom: 0;
}
.multi-col-form label{
	width: 98px;
	text-align: right;
	padding-right: 10px;
}
.form-group-col{
	display: inline-block;
	margin-bottom: 28px;
	margin-right: 0;
	padding-right: 0;
	/*min-width: 360px;*/
}
.multi-col-form input[type="text"],.multi-col-form ul{
	width:200px;
}
.multi-col-form .dropdown-block{
	display: inline;
	position: relative;
}
.multi-col-form .dropdown-block ul{
	left: 0;
	top: 16px;
}
/*表单－多列－end*/

.close-btn{
	color: #c7c7c7;
	font-size: 18px;
	cursor: pointer;
}
.close-btn:hover{
	color: #a7a7a7;
}