/*规范展示页面样式*/
/*仅用于规范展示页面*/
*{
	margin: 0;
	padding: 0;
	outline: none;
}
body{
	width: 960px;
	margin: 0 auto;
}
.show-navbar{
	background-color: #000;
	font-size: 20px;
}
.show-container{
	width: 960px;
}
.show-nav>li>a{
	color: #fff;
}
.show-nav>li>a:hover{
	background-color: #000;
}
.show-nav-tabs{
	border-bottom: 0;
}
.show-content>h1{
	padding-top: 70px;
}
.demo{
	border: 1px solid #eee;
	border-radius: 5px;
	margin-bottom: 23px;
}
.example,.code-example{
	padding: 10px 20px;
}
.example{
	border-bottom: 1px solid #eee;
}
.code-example{
	border-top: 1px solid #eee;
	background-color: #eee;
}

.default-text{
	color: #474747;
	font-weight: 900;
}
.small-title{
	color: #24bb32;
	font-weight: 900;
}
.main-text{
	color: #737373;
	font-weight: 900;
}
.important-text{
	color: #ff4800;
	font-weight: 900;
}
.tips-text{
	color: #a7a7a7;
	font-weight: 900;
}
.link-text{
	color: #0075d8;
	font-weight: 900;
}
/*文字排版页样式*/
.example>.font-size{
	border-bottom: 1px solid #eee;
}
.example>.font-size:last-child{
	border-bottom: 0;
}
.inline-title{
	margin-top: 10px;
	margin-bottom: 10px;
}
.color-block{
	display: inline-block;
	width: 14px;
	height: 14px;
}
.color-1{
	background-color: #474747;
}
.color-2{
	background-color: #24bb32;
}
.color-3{
	background-color: #737373;
}
.color-4{
	background-color: #ff4800;
}
.color-5{
	background-color: #a7a7a7;
}
.color-6{
	background-color: #0075d8;
}